In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("swiggy_top_restaurant_foods_bengaluru.csv")

In [3]:
df.head()

,restaurant_name,area,ratings,no_of_ratings_greater_than_equal_to,item_name,item_category,item_price,item_description,bestseller_tag
0,Burger King,"Opposite To West Side, Shivaji Nagar",4.2,1000,Hashbrown,Recommended,29.0,What every potato wants to be.,0
1,Burger King,"Opposite To West Side, Shivaji Nagar",4.2,1000,King Egg Burger,Recommended,60.0,No description available,0
2,Burger King,"Opposite To West Side, Shivaji Nagar",4.2,1000,King Egg Double Patty Burger,Recommended,80.0,No description available,1
3,Burger King,"Opposite To West Side, Shivaji Nagar",4.2,1000,King Egg with Cheese,Recommended,80.0,No description available,0
4,Burger King,"Opposite To West Side, Shivaji Nagar",4.2,1000,King Egg Wrap,Recommended,80.0,A fresh and fluffy egg patty loaded with juic...,0

In [4]:
df.describe()

,ratings,no_of_ratings_greater_than_equal_to,item_price,bestseller_tag
count,425.000000,425.000000,425.000000,425.000000
mean,4.350353,470.588235,233.462918,0.080000
std,0.131594,443.459686,179.980554,0.271613
min,4.200000,100.000000,0.000000,0.000000
25%,4.200000,100.000000,119.000000,0.000000
50%,4.400000,100.000000,165.710000,0.000000
75%,4.500000,1000.000000,299.000000,0.000000
max,4.500000,1000.000000,1012.000000,1.000000